{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Create Question
{% endblock %}




{% block content %}

{% for message in messages %}

<div class="alert {{ message.tags }}">
    <p>{{ message | safe }}</p>
  </div>
<!-- Flash message body end.   -->
{% endfor %}

<form method="POST">
    {% csrf_token %}
    {{form | crispy}}

    <input type="submit" value="Submit">
</form>
{% endblock %}