<!DOCTYPE html>
<html lang="en">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



</head>
<body style="background-color: rgb(3, 50, 121);">
    {% include 'myapp/header.html' %}
    

    {% block content %}
    {% endblock %}

    {% include 'myapp/footer.html' %}


</body>
</html>