<header class="border bg-light text-dark">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex ms-3">
            <div class="d-flex flex-row">
                <div class="d-flex p-3">
                    <a href="{% url 'index' %}">Home</a>
                </div>
            </div>
        </div>
        <div class="d-flex ms-3">
            <div class="d-flex flex-row">
                <div class="d-flex p-3">Login</div>
                <div class="d-flex p-3">Logout</div>
            </div>

        </div>
    </div>

</header>