{% extends 'myapp/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container-fluid position-absolute start-50 top-50 translate-middle h-75">
    <div class="row align-items-center h-100 ">
        <div class="col  p-5 ">
            <div class=" text-center ">
                <h1 class="text-capitalize text-light">{{greeting}}</h1>
                <p class="text-warning">Explore our site.</p>
                <a href="{% url 'show-subjects' %}" class="btn btn-primary">Continue</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}