{% extends 'myapp/base.html' %}
{% block title %}
Instruction
{% endblock %}


{% block content %}
<div class="container-fluid position-absolute top-50 start-50 translate-middle h-75">
    <div class="row h-100 align-items-center overflow-auto">
        <div class="col text-light py-3">
            <h4 class="text-center">Instructions for <strong class="text-danger">{{subject}}</strong>
            </h4>
            <ol type="1" class="list-group list-group-flush list-group-numbered mb-3">
                <li class="list-group-item">There are total 20 questions by default but you can change the number of question and subject as well.
                </li>
                <li class="list-group-item">
                    Each question carries 5 marks.
                </li>
                <li class="list-group-item">
                    No negative marking for wrong answers.
                </li>
                <li class="list-group-item">
                    You can attemp a question only once at time.
                </li>
                <li class="list-group-item">
                    You will 30 seconds to answer a question.
                </li>
                <li class="list-group-item">
                    See the timer on the top.
                </li>
                <li class="list-group-item">
                    If you skip a question you won’t be able to submit the answers.
                </li>
                <li class="list-group-item">
                    After 30 seconds it will get jumped to next question automatically.
                </li>

            </ol>

            <form action="" id="queryForm">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex me-2">
                        <select class="form-select ques-count" name="" id="" >
                            <option value="" selected>Set number of questions</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="d-flex me-2">
                        <select class="form-select subject" name="" id="" >
                            <option value="" selected>Select a subject</option>
                            {% for sub in all_subjects %}
                            <option value="{{sub.subject_name}}">{{sub.subject_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div class="btn-control">
                <a href="{% url 'show-subjects' %}" class="btn btn-dark">Previous</a>

                <a href="{% url 'show-questions' %}?subject={{subject}}&cnt=20" class="btn btn-warning" id="queryLink">Continue</a>
    
            </div>

     </div>   
    </div>

    <script>
        let queryForm = document.getElementById('queryForm')
        let queryLink = document.getElementById('queryLink')
        let subject = queryForm.querySelector('.subject')
        let quesCount = queryForm.querySelector('.ques-count')
        let sub = `{{subject}}`, cnt = 20


        quesCount.addEventListener('change', e => {
            cnt = e.target.value
            queryLink.href = `{% url 'show-questions' %}?subject=${sub}&cnt=${cnt}`

            console.log(queryLink.href)
        })

        subject.addEventListener('change', e => {
            sub = e.target.value
            queryLink.href = `{% url 'show-questions' %}?subject=${sub}&cnt=${cnt}`

            console.log(queryLink.href)

        })


    </script>
{% endblock %}