{% extends 'myapp/base.html' %}
{% block title %}
Quizzes
{% endblock %}


{% block content %}
<div class="container-fluid position-absolute start-50 top-50 translate-middle  h-75">
    <div class="row h-100 align-items-center">
        {% for s in subjects %}

        <div class="col col-md-3 col p-2 subject">
            <div class="card" style="height: 10rem;" >
                <div class="card-body p-2">
                  <h3 class="card-text text-uppercase">{{s.subject_name}}</h3>
                  <a href="{% url 'instruction' %}?subject={{s.subject_name}}&id={{s.id}}" class="btn btn-primary position-absolute bottom-0 my-2 ">Participate</a>
                </div>
            </div>
        </div>
        {% endfor %}

</div>
{% endblock %}