{% extends 'myapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Answer
{% endblock %}

{% block content %}

<div class="container position-absolute start-50 top-50 translate-middle h-75 overflow-auto">
    <div class="row text-light p-3 pt-5 ">
        <div id="timercontainer"><strong id="timer">30</strong></div>
        <div class="col text-light p-5 card" style="box-shadow: 4px 4px greenyellow;">
            <form method="POST" id="quizForm" >
                {% csrf_token %}
                {% for obj in list_obj %}
                
                <div class="tab">
                    {{obj.question}}
                    <input type="text" hidden value="{{obj.marks}}">
                    <input type="text" hidden value="{{obj.id}}" class="myquestion">

                    <ol type="1">
                    {% for a in obj.answers %}
                    <li class="p-2">
                    <div class="form-check">
                        <input type="radio" name="choice{{obj.id}}" id="{{a.id}}" value = "{{a.is_correct}}" class="form-check-input" >

                        <label class="form-check-label">{{a.ans_text}}</label>
                    </div>
                    </li>
                    {% endfor %}
                    </ol>
                </div>
                {% endfor %}
            </form>

            <div class="overflow-auto">
                <div>
                  <!-- <button type="button" id="prevBtn" class="btn btn-primary" onclick="nextPrev(-1)">Previous</button> -->

                  <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)">Next</button>

                  <button class="btn btn-warning float-end" onclick="submitFn()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'myapp/js/submit.js' %}" type="text/javascript"></script>

<script>
//*This function will submit the form and redirect us to the result page.*/
function submitFn()
{
    var mark_cary = document.querySelectorAll('input[type=text]')[0].value
    var question_id = document.querySelectorAll('.myquestion')
    var tab = document.querySelectorAll('.tab')
    var inputs = document.querySelectorAll('input[type=radio')
    var marks = 0
    var selectedAnsIds = []
    var displayed_question_id = []

    question_id.forEach(elem => {
        displayed_question_id.push(elem.value)
    })


    inputs.forEach(elem => {
       if( elem.value == 'True')
       {
        if(elem.checked){
            marks += parseInt(mark_cary)
        }
       }
       if(elem.checked)
       {
        selectedAnsIds.push(elem.id)
      }
    })
    
    console.log('selected',selectedAnsIds)

    var formData = {
        'subject':new URLSearchParams(location.search).get('subject'),
        'total_question':parseInt(tab.length),
        'marks':parseInt(marks),
        'question_ids':JSON.stringify(displayed_question_id),
    }

    $.ajax({
        type : 'POST',
        url : '{% url "show-questions" %}?subject='+formData['subject'],
        data : formData,
        headers : {'X-CSRFToken': '{{ csrf_token }}'},
        success : (response => {
          let resData = JSON.parse(response['result'])

          localStorage.setItem('ans_ids', JSON.stringify(selectedAnsIds))

          let subject = formData['subject']

          let url = `{% url "show-result" %}?subject=${subject}`  
          window.location.replace(`${url}`)
    
     }),
      error : (response => {
        alert('Form not worked.')
      })
    
    
    })
    

}

</script>
{% endblock %}