{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}
Warm-up
{% endblock %}

{% block content %}

<div class="container position-absolute start-50 top-50 translate-middle h-75 " >
    <div class="row h-100 align-items-center ">
        <div class="col text-light py-3 rounded" style="box-shadow: 8px 8px 15px greenyellow;">

            <div id="timer" class="border border-light rounded p-2 text-center bg-success">Time left: <span id="timeleft"></span></div>
            <p class="font-monospace text-warning">Before you get started with the quiz please warm-up yourself. See the timer on the top and go for the question.</p>

            <div id="question-container">
                {% for form in formset %}
                {{form}}
                {% endfor %}
            </div>

            <div class="overflow-auto">
                <div>
                  <button type="button" id="prevBtn" class="btn btn-primary" onclick="nextPrev(-1)">Previous</button>

                  <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'myapp/js/script.js' %}"></script>
{% endblock %}

