{% extends 'myapp/base.html' %}
{% block title %}
{% endblock %}

{% block content %}


<div class="container-fluid position-absolute start-50 top-50 translate-middle  bg-info p-3 overflow-auto">

    <div class="row align-items-center h-100">
        <div class="col col-md-6 text-light p-5 card mx-auto " style="box-shadow: 4px 4px  greenyellow;">
            <p class="text-danger">{{result.msg}}</p>
            <div class="mx-auto d-flex flex-row ">
                <div class="p-2">
                    <p><strong class="text-capitalize">subject</strong></p>
                    <p><strong class="text-capitalize">total number of questions</strong></p>
                    <p><strong class="text-capitalize">total marks</strong></p>

                </div>
                <div class="p-2">
                    <p class="text-warning">{{result.data.subject}}</p>
                    <p class="text-warning">{{result.data.total_question}}</p>
                    <p class="text-warning">{{result.data.marks}}</p>

                </div>

            </div>
            <a href="{% url 'view-detail-result' %}?subject={{result.data.subject}}" class="btn btn-primary">View Detail</a>

        </div>
    </div>
</div>


<script>
    function showDetailFn()
    {
        ids = JSON.parse(localStorage.getItem('ids'))

        console.log(ids, typeof(ids))


    }
</script>



{% endblock %}