{% extends 'myapp/base.html' %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid  mt-5 w-75 max-auto border p-3 overflow-auto text-light" style="background-color: rgb(3,2,61);">

    <form action="">
        <ol>
        {% for r in result %}
        <li class="fs-4">{{r.question}}</li>
        {% for a in r.answers %}
        <ul style="list-style-type: none;">
            <li class="{% if a.is_correct %} bg-success{% endif %} mt-1">
            <div class="form-check">
                <input type="radio" name="name-for-{{r.id}}" id="id-for-{{a.id}}" class="form-check-input fs-4 ms-1" value="{{a.is_correct}}">
                <label for="" class="form-check-label fs-4">{{a.answer}}</label>
            </div>
            </li>
        </ul>
        {% endfor %}
        {% endfor %}
        </ol>
    </form>

</div>


<script>
    var selected_ids = JSON.parse(localStorage.getItem('ans_ids'))
    let inputs = document.querySelectorAll('input[type=radio]')


    inputs.forEach(elem => {
        elem.disabled = true
        selected_ids.forEach(id => {
            if(elem.id == `id-for-${id}`)
            {
                elem.checked = true
              
            }
        })

        if(elem.checked)
        {
            elem.value == 'True' ? elem.parentElement.classList += ' bg-success ' : elem.parentElement.classList += ' bg-danger '
        }
    })
</script>

{% endblock %}