.col{
    background-color: rgb(3, 2, 61);
}

.tab{
    display: none;

}

.question{
    background-color: transparent;
    outline: none;
    border: none;
    
}

#timercontainer {
    position: absolute;
    width: 80px;
    height: 80px;
    top:8px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    z-index: -1;
    background-color: rgb(3, 2, 61);
}
